 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-1 .u-image-1 {
  width: 740px;
  height: 740px;
  background-image: url("images/mell1.jpeg");
  background-position: 50% 50%;
  filter: brightness(0.6);
  margin: -158px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: -153px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 491px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 12px 20px 0;
}

.u-section-1 .u-image-2 {
  width: 62px;
  height: 62px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -42px 0 0 58px;
}

.u-section-1 .u-image-3 {
  width: 64px;
  height: 64px;
  margin: 14px auto 0 6px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -45px -18px 0 58px;
}

.u-section-1 .u-image-4 {
  width: 65px;
  height: 65px;
  margin: 28px 198px 0 7px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -49px -18px 0 58px;
}

.u-section-1 .u-image-5 {
  width: 63px;
  height: 63px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  margin: -75px 7px 0 43px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  margin: 12px 20px 0;
}

.u-section-1 .u-image-6 {
  width: 62px;
  height: 62px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -42px 0 0 58px;
}

.u-section-1 .u-image-7 {
  width: 64px;
  height: 64px;
  margin: 14px auto 0 6px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -45px -18px 0 58px;
}

.u-section-1 .u-image-8 {
  width: 65px;
  height: 65px;
  margin: 28px 198px 0 7px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -49px -18px 0 58px;
}

.u-section-1 .u-image-9 {
  width: 63px;
  height: 63px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-10 {
  font-weight: 600;
  margin: -75px 7px 0 43px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  margin: 12px 20px 0;
}

.u-section-1 .u-image-10 {
  width: 62px;
  height: 62px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -42px 0 0 58px;
}

.u-section-1 .u-image-11 {
  width: 64px;
  height: 64px;
  margin: 14px auto 0 6px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: -45px -18px 0 58px;
}

.u-section-1 .u-image-12 {
  width: 65px;
  height: 65px;
  margin: 28px 198px 0 7px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -49px -18px 0 58px;
}

.u-section-1 .u-image-13 {
  width: 63px;
  height: 63px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-15 {
  font-weight: 600;
  margin: -75px 7px 0 43px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  margin: 12px 20px 0;
}

.u-section-1 .u-image-14 {
  width: 62px;
  height: 62px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: -42px 0 0 58px;
}

.u-section-1 .u-image-15 {
  width: 64px;
  height: 64px;
  margin: 14px auto 0 6px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -45px -18px 0 58px;
}

.u-section-1 .u-image-16 {
  width: 65px;
  height: 65px;
  margin: 28px 198px 0 7px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: -49px -18px 0 58px;
}

.u-section-1 .u-image-17 {
  width: 63px;
  height: 63px;
  margin: 12px 201px 0 7px;
}

.u-section-1 .u-text-20 {
  font-weight: 600;
  margin: -75px 7px 0 43px;
}

.u-section-1 .u-text-21 {
  margin: -743px auto 60px 223px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 344px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -133px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 722px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 46px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-21 {
    margin-left: 105px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1034px;
  margin: 9px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1167px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 994px;
  min-height: 58px;
  height: auto;
  margin: -11px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.125rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 9px 310px 0 21px;
}

.u-section-2 .u-image-1 {
  width: 455px;
  height: 455px;
  background-image: url("images/Screenshot2024-03-11at5.56.39PM.png");
  background-position: 50% 50%;
  margin: -532px -90px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 95px;
  height: 372px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1061px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 237px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 667px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 703px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 43px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 13px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 418px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 703px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 453px;
  height: 453px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  animation-timing-function: ease;
  background-image: url("images/mell4.jpeg");
  background-position: 50% 50%;
  margin: 108px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    width: 376px;
    height: 376px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 740px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 698px;
    height: 698px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 555px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    width: 679px;
    height: 679px;
  }
}